<h1><%= @category.name %></h1>

<div class="table">
  <table>
    <thead>
      <tr>
        <th>Post Name</th>
        <th>Post Genre</th>
        <th>Post Bio</th>
        <th>Post's Author</th>
      </tr>
    </thead>
    
    <tbody>
      <% @category_posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= post.genre %></td>
          <td><%= post.bio %></td>
          <td><%= post.author %></td>
          <td><%= link_to 'View Post', post_path(post) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
